.landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .full-width {
    width: 100%;
  }
  mat-card {
    width: 400px;
    background: transparent;
    border: none;
    box-shadow: none;
  }
  .mat-mdc-card-header {
    padding: 16px 16px 30px;
}
.mat-mdc-card-content {
    display: block;
    padding: 16px 16px 30px;
}


.landing-image{
    width: 85%;
}
mat-card-title.mat-mdc-card-title {
    color: firebrick;
    font-size: 32px;
    font-weight: 500;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}